<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="spring-boot-kafka-log" packages="com.techboss">
    <Appenders>
      <Kafka name="Kafka" topic="log-test">
            <PatternLayout pattern="spring-elk %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-4p %C{3.}.%M - %m%n%ex"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>
        <Async name="Async">
            <AppenderRef ref="Kafka"/>
        </Async>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %style{[%t]}{magenta} %highlight{%-4p}{INFO=green bold,WARN=yellow bold,ERROR=red blink} %style{%C{3}}{cyan}.%M - %m%n%throwable"
            disableAnsi="false"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Kafka"/>
           <AppenderRef ref="stdout"/> 
        </Root>
        <Logger name="org.apache.kafka" level="warn" />
    </Loggers>
</Configuration>